.elementor-110 .elementor-element.elementor-element-86c2ad1 {
  color: #000000;
  font-family: "Playfair Display", Sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.elementor-110
  .elementor-element.elementor-element-a4cc0dd
  .elementor-spacer-inner {
  --spacer-size: 50px;
}
.elementor-110 .elementor-element.elementor-element-88fe712 {
  text-align: center;
}
.elementor-110
  .elementor-element.elementor-element-88fe712
  .elementor-heading-title {
  color: #000000;
  font-family: "Great Vibes", Sans-serif;
  font-weight: 300;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  span.twae-label {
  color: #000000;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  span.twae-extra-label {
  color: #000000;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-data-container
  span.twae-title {
  color: #000000;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-horizontal
  span.twae-title {
  color: #000000;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-description {
  color: #000000;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-data-container {
  background-color: #ffffff;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-icon {
  color: #ffffff;
  background-color: #e0e0e0;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-horizontal
  .twae-story-info {
  background-color: #ffffff;
  border-color: #e0e0e0;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-horizontal
  .twae-story-info.twae-no-border {
  border-color: #ffffff;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-horizontal
  .twae-story-info.twae-no-border:before {
  border-bottom-color: #ffffff;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-data-container.twae-no-border:after {
  border-right-color: #ffffff;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-right-aligned
  .twae-data-container.twae-no-border {
  border-left-color: #ffffff;
}
body[data-elementor-device-mode="desktop"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container.twae-no-border,
body[data-elementor-device-mode="tablet"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container.twae-no-border {
  border-right-color: #ffffff;
}
body[data-elementor-device-mode="mobile"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container.twae-no-border {
  border-left-color: #ffffff;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-horizontal
  .twae-story-info:before {
  border-bottom-color: #e0e0e0;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-data-container:after {
  border-right-color: #e0e0e0;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-right-aligned
  .twae-data-container {
  border-left-color: #e0e0e0;
}
body[data-elementor-device-mode="desktop"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container,
body[data-elementor-device-mode="tablet"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container {
  border-right-color: #e0e0e0;
}
body[data-elementor-device-mode="mobile"]
  .elementor-110
  .elementor-element.elementor-element-00d5497
  .twae-wrapper
  .twae-left-aligned
  .twae-data-container {
  border-left-color: #e0e0e0;
}
.elementor-110
  .elementor-element.elementor-element-00d5497
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-110 .elementor-element.elementor-element-3722bb2 {
  text-align: center;
  color: #000000;
  font-family: "Playfair Display", Sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -0.1px;
}
.elementor-110
  .elementor-element.elementor-element-d41d97c
  .elementor-spacer-inner {
  --spacer-size: 50px;
}
.elementor-110 .elementor-element.elementor-element-1458dd4 {
  text-align: center;
}
.elementor-110
  .elementor-element.elementor-element-1458dd4
  .elementor-heading-title {
  color: #070707;
  font-family: "Great Vibes", Sans-serif;
  font-weight: 300;
}
.elementor-110 .elementor-element.elementor-element-d872926 {
  text-align: center;
  color: #000000;
  font-family: "Playfair Display", Sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.elementor-110
  .elementor-element.elementor-element-e95afdd
  .elementor-spacer-inner {
  --spacer-size: 50px;
}
.elementor-110 .elementor-element.elementor-element-38fdfbd {
  text-align: center;
}
.elementor-110
  .elementor-element.elementor-element-38fdfbd
  .elementor-heading-title {
  color: #000000;
  font-family: "Great Vibes", Sans-serif;
  font-weight: 300;
}
.elementor-110
  .elementor-element.elementor-element-09b133f
  .gallery-item
  .gallery-caption {
  text-align: center;
}
